@use "@/shared/styles/vars" as *;

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3.7rem 0 clamp(0.8rem, 4vw, 6.5rem) 0;
  max-width: $max-width;
  width: 100%;
  position: relative;
}

.titleContainer {
  width: 100%;

  @media (min-width: $xl) {
    display: flex;
    align-items: stretch;
  }
}

.title {
  font-weight: bold;
  font-size: clamp(1.25rem, 5vw, 3.5rem);
  line-height: 120%;
  width: min(22rem, 7.7rem);
}

.titleLine {
  display: none;

  @media (min-width: $xl) {
    display: inline-block;
    position: relative;
    left: -5rem;
    width: 4px;
    background: linear-gradient(to bottom, #3877ee, #ef5da8);
  }
}

.line {
  display: none;

  &.lineRight {
    left: 0;
  }

  &.lineLeft {
    right: 0;
  }

  @media (min-width: $xl) {
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: rgba(#42567a, 0.1);
  }
}