@use "@/shared/styles/vars" as *;

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3.7rem 0 clamp(0.8rem, 4vw, 6.5rem) 0;
  max-width: $max-width;
  width: 100%;
  position: relative;
}

.line {
  display: none;

  &.lineRight {
    left: 0;
  }

  &.lineLeft {
    right: 0;
  }

  @media (min-width: $xl) {
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: rgba(#42567a, 0.1);
  }
}