@use "@/shared/styles/vars" as *;

.sliderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.line {
  height: 1px;
  width: 100%;
  background-color: $line-color;

  @media (min-width: $lg) {
    display: none;
  }
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0 1.5rem !important;

  @media screen and (min-width: $lg) {
    gap: 3.5rem;

    & > .swiperWrapper {
      order: 2;
    }

    & > :last-child {
      order: 1;
    }
  }
}

.swiperWrapper {
  position: relative;
}

.prevButton,
.nextButton {
  display: none;

  @media screen and (min-width: $lg) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #0000001a;
    z-index: 10;
    cursor: pointer;
    border: none;
    // visibility: visible;
    // transition: visibility 0.3s ease-in;

    &[disabled] {
      visibility: hidden;
    }
  }
}

.prevButton {
  @media screen and (min-width: $lg) {
    left: 0;
  }
}

.nextButton {
  @media screen and (min-width: $lg) {
    right: 0;
  }
}

:global(.swiper-slide) {
  max-width: 50vw;
  opacity: 0.5;

  @media (min-width: $md) {
    opacity: 1;
  }
}

:global(.swiper-slide:last-child) {
  max-width: 5vw;

  @media (min-width: $md) {
    max-width: 12vw;
  }

  @media (min-width: $lg) {
    display: none !important;
  }
}

:global(.swiper-slide-active) {
  opacity: 1;
}
