@use "@/shared/styles/vars" as *;

.container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;

  @media (min-width: $xl) {
    flex: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media (min-width: $xl) {
    display: none;
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: $line-color;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0 0 0 1.25rem !important;
  max-width: $max-width;
  width: 100%;

  @media screen and (min-width: $xl) {
    gap: 3.5rem;

    &>.swiperWrapper {
      order: 2;
    }

    &> :last-child {
      order: 1;
    }
  }

  @media (min-width: $xl) {
    padding: 0 5rem !important;
  }
}

.swiperWrapper {
  position: relative;
  height: 10rem;

  @media (min-width: $xl) {
    height: auto;
  }
}

.prevButton,
.nextButton {
  display: none;

  @media screen and (min-width: $xl) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px rgba($secondary-blue, 0.1);
    z-index: 10;
    cursor: pointer;
    border: none;

    &[disabled] {
      visibility: hidden;
    }
  }
}

.caretIcon {
  width: 0.55rem;
  height: 0.625rem;
}

.prevButton {
  @media screen and (min-width: $xl) {
    left: -3.75rem;
  }
}

.nextButton {
  @media screen and (min-width: $xl) {
    right: -3.75rem;
  }
}

:global(.swiper-slide) {
  max-width: 50vw;
  opacity: 0.5;

  @media (min-width: $md) {
    opacity: 1;
  }
}

:global(.swiper-slide:last-child) {
  max-width: 12vw;

  @media (min-width: $md) {
    display: none !important;
  }
}

:global(.swiper-slide-active) {
  opacity: 1;
}